---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.astro"
---

<BaseLayout title="Contact">
  <div class="contact-cards">
    <div>
        <p>
            Let's work together! Please reach out via <a class="social-link" href="https://www.instagram.com/alecvdfoto/" target="_blank" rel="noopener noreferrer">Instagram</a> or <a class="social-link" href="mailto:alec.vandijken@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>.
        </p>
        <p>-Alec</p>
    </div>
    <div>
        <h2>Grad Photos</h2>
        <p>
            If you are in the bay area I am now booking grad portrait sessions!  
            <a data-cal-link="alecvd/photo-session" data-cal-namespace="" data-cal-config='{"layout":"month_view"}' class="social-link">Click to Book!</a>
        </p>
    </div>
    <ContactForm/>
  </div>
</BaseLayout>

<style>
    p {
        padding: 0.5em 0 0.5em 0;
    }
    .social-link{
      color: black;
    }
    a{
      text-decoration: underline;
    }
    .contact-cards{
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
</style>

<!-- Cal element-click embed code begins -->
<script type="text/javascript">
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
Cal("init",  {origin:"https://cal.com"});

  // Important: Please add the following attributes to the element that should trigger the calendar to open upon clicking.
  // `data-cal-link="alecvd/photo-session"`
  // data-cal-namespace=""
  // `data-cal-config='{"layout":"month_view"}'`
  Cal("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false,"layout":"month_view"});
</script>
