---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.astro";
// import Cal from "../components/Cal.astro";
---

<BaseLayout title="Contact">
  <div class="contact-cards">
    <div>
        <p>
            Let's work together! Please reach out via <a class="social-link" href="https://www.instagram.com/alecvdfoto/" target="_blank" rel="noopener noreferrer">Instagram</a> or <a class="social-link" href="mailto:alec.vandijken@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>.
        </p>
        <p>-Alec</p>
    </div>
    <div>
        <h2>Grad Photos</h2>
        <p>
            Now booking grad photo sessions in the bay area!
            <!-- <Cal text="Click to Book"/> -->
            <a class="social-link" href="/gradinfo/">Click for info.</a>
        </p>
    </div>
    <ContactForm/>
  </div>
</BaseLayout>

<style>
    p {
        padding: 0.5em 0 0.5em 0;
    }
    .contact-cards{
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
</style>
