---
// import { Image } from "astro:assets";
// import heroImage from "..//assets/portrait/13.jpg";
import BaseLayout from "../layouts/BaseLayout.astro";
import Cal from "../components/Cal.astro";
---

<BaseLayout title="Grad Info">
    <div class="card">
        <h1>Graduate Photo Sessions</h1>
    </div>
    <!-- <Image src={heroImage} alt="portraits" quality="high"/> -->
    <div class="bottomspace">
        <!-- <h2 class="smallbottomspace">Pricing:</h2> -->
        <p>Starting at $150!</p>
        <ul>
            <li>40+ Images.</li>
            <li>Editing included.</li>
            <li>
                You will receive full resolution digital files suitable for
                printing.
            </li>
            <li>Quick turnaround receive your images withing 48-96 hours.</li>
            <li>Bring family or non graduating friends at no additional cost.</li>
            <li>Group sessions are 1 hour</li>
        </ul>
        <p>Group pricing:</p>
        <table>
            <tr>
                <th># of People |</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>1</td>
                <td>$150</td>
            </tr>
            <tr>
                <td>2</td>
                <td>$200</td>
            </tr>
            <tr>
                <td>3</td>
                <td>$250</td>
            </tr>
            <tr>
                <td>4</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>5</td>
                <td>$350</td>
            </tr>
            <tr>
                <td>6</td>
                <td>$400</td>
            </tr>
            <tr>
                <td>7</td>
                <td>$450</td>
            </tr>
            <tr>
                <td>8+</td>
                <td>$500</td>
            </tr>
        </table>
    </div>
    <div id="booking"><Cal text="Book Here!" /></div>
</BaseLayout>
<style>
    p {
        padding: 0.5em 0 0.5em 0;
    }
    .card {
        display: flex;
        flex-direction: column;
        padding-bottom: 1em;
    }
    tr{
        text-align: center;
    }
    th{
        font-weight: 200;
    }
    img {
        width: 20em;
        height: auto;
    }
    #deal{
        text-decoration: line-through;
    }
    #booking{
        font-size: 1.5em;
    }
</style>
