---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import Cal from "../components/Cal.astro";
import heroImage from "..//assets/portrait/13.jpg";
---

<BaseLayout title="Grad Info">
    <div class="card">
        <h1>Graduate Photo Sessions</h1>
    </div>
    <!-- <Image src={heroImage} alt="portraits" quality="high"/> -->
    <div>
        <h2>Pricing:</h2>
        <p>Starting at $200 for a 45 minute session</p>
        <ul>
            <li>40+ Images.</li>
            <li>Basic editing included.</li>
            <li>
                You will receive full resolution digital files suitable for
                printing.
            </li>
            <li>Quick turnaround receive your images withing 48-96 hours.</li>
        </ul>
    </div>
    <Cal text="Book Now!" />
</BaseLayout>
<style>
    p {
        padding: 0.5em 0 0.5em 0;
    }
    .card {
        display: flex;
        flex-direction: column;
        padding-bottom: 1em;
    }
    .bottomspace {
        padding-bottom: 1em;
    }
    img {
        width: 20em;
        height: auto;
    }
</style>
