---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";

import { Image } from "astro:assets";
const images = await Astro.glob("..//assets/portrait/*.{jpeg,jpg,png,gif}");
---

<BaseLayout title="Portraits">
    <Footer />
    <div class="gallery">
        {
            images.slice(0,-1).map((img) => (
                <Image src={img.default} alt="portraits" quality="high"/>
            ))
        }
        <Image src={images.slice(-1)[0].default} alt="portraits" quality="high" id="last-image"/>
    </div>
    
</BaseLayout>

<style></style>
