---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";

import { Image } from "astro:assets";
const images = Object.values(import.meta.glob("..//assets/portrait/*.{jpeg,jpg,png,gif}", { eager: true }));
---

<BaseLayout title="Portraits">
    <div class="gallery">
        <!-- Use when odd number off images to remove last on mobile -->
        {
            images.slice(0,-1).map((img) => (
                <Image src={img.default} alt="portraits" quality="low"/>
            ))
        }
        <Image src={images.slice(-1)[0].default} alt="portraits" quality="low" id="last-image"/>
        <!-- {
            images.map((img) => (
                <Image src={img.default} alt="portraits" quality="high" />
            ))
        } -->
    </div>
    <Footer />
</BaseLayout>

<style></style>
