---

---

<div class="feedback-form">
    <h2>Contact Me:</h2>
    <form
        data-netlify="true"
        netlify-honeypot="bot-field"
        name="feedback"
        method="POST"
        action=""
    >
        <p class="hidden">
            <label>
                Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
        </p>
        <!-- <input type="hidden" name="form-name" value="feedback" /> -->
        <div class="form-top">
            <div>
                <label for="name">Name:</label>
                <input id="name" type="text" name="name" />
            </div>
            <div>
                <label for="email">Email:</label>
                <input id="email" type="email" name="email" required />
            </div>
        </div>

        <label for="message">Message:</label>
        <div>
            <textarea id="message" wrap="soft" name="message" placeholder="Phone # and any questions :)" required
            ></textarea>
        </div>
        <div id="submit-button">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<style>
    form {
        padding-top: 1em;
    }
    label {
        margin-top: 1em;
    }
    input {
        /* border: 1em; */
    }
    textarea,
    input {
        border: 1px solid grey;
    }
    button {
        margin-top: 0.4em;
        /* padding: 1px; */
        font-family: var(--font-body);
        font-weight: 200;
        font-size: 1em;
    }
    #message {
        width: 35em;
        max-width: 100%;
    }
    .form-top {
        display: flex;
        gap: 1em;
    }
    .hidden {
        display: none;
    }
</style>
