---

---

<div class="contact-footer">
    <p>
        <a class="social-link" href="https://www.instagram.com/alecvdfoto/" target="_blank" rel="noopener noreferrer">Instagram</a>
        -
        <a class="social-link" href="mailto:alec.vandijken@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
        -
        <a data-cal-link="alecvd/photo-session" data-cal-namespace="" data-cal-config='{"layout":"month_view"}' class="social-link">Book a Grad Session!</a>
    </p>
</div>
<style>
    .contact-footer {
        padding-bottom: 1em;
        text-align: center;
        font-size: 1.5em;
    }
    p {
        font-weight: 600;
    }
</style>
